body{
    font-weight: $main-font-weight;
    font-family: $main-font-family;
    color:$font-color;
    font-size:$myf-size;
}
.header-container{
    background-image: url('/images/header.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height:1200px;
    background-position: center;
    margin-bottom: 100px;
    
}

.button{
    padding:.6em 1.2em;
    background-color: $btn-color;
    border-radius:36px;
    border:none;
    color:$font-color;

   &:hover{
    background-color: $font-color;
    color:$btn-color;
    cursor:pointer;
   }
}


@media (max-width: 768px) {
    
    
    .header-container{
       
        background-size:cover;
        background-repeat: no-repeat;
        height:1000px;
        background-position: center;
        
        
    }
    #header{
        display: none;
    }
    .download{
        margin-top:50px
    }
}

@media (max-width: 578px) {
    .header-container{
   
        
    }

}