body{
    font-weight: $main-font-weight;
    font-family: $main-font-family;
    color:$font-color;
    font-size:$myf-size;
    p{
        font-family:$second-ff;
        font-weight:$second-fw;
        opacity: .9;
        line-height: $line-heigh;
        
    }
    h1{
        font-family: $special-ff;
        text-transform: uppercase;
        
    }
}
.full-container{
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    
}
.header-container{
    background-image: url('/images/header.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height:1200px;
    background-position: center;
    margin-bottom: 100px;
    
}

.button{
    padding:.6em 1.2em;
    background-color: $btn-color;
    border-radius:36px;
    border:1px solid $btn-color;
    color:$font-color;
    transition:all ease 0.8s;
    

   &:hover{
    background-color: $font-color;
    color:$btn-color;
    cursor:pointer;
    border:1px solid $btn-color;
   }

}
.menu-hamburger{
    position: absolute;
    top:25px;
    left:25px;
    height: 28px;
    width: 40px;
    z-index: 1002;
   

    .hamburger-wrap{
        position: relative;
        

        .line{
            height: $h;
            width: 100%;
            background-color: $font-color;
            position: absolute;
            top:0;
            left:0;
            
           

            &::before{
                content: ' ';
                position:absolute;
                top:11px;
                left:0;
                height: $h;
                width:100%;
            background-color: $font-color;
           

           
            }
        &::after{
                content: ' ';
                position:absolute;
                top:22px;
                left:0;
                height: $h;
                width:100%;
            background-color: $font-color;
            

           
            }
        }
    }
}

.menu-hamburger:focus{
cursor: pointer;

    .line{
        transform:rotate(45deg);
        margin-top: 10px;
        transition: 0.5s;
        
       
        &::before{
            transform: rotate(-90deg) translate(10px, 0px) ;
            transition: 0.5s;
        }
        &::after{
            display:none;
        }

    }
}
// .menu-hamburger:not(:focus){
//     cursor: pointer;
    
//     .line{
//         height: $h;
//         width: 100%;
//         background-color: $font-color;
//         position: absolute;
//         top:0;
//         left:0;
//         transition: 0.5s;
        
       

//         &::before{
//             content: ' ';
//             position:absolute;
//             top:11px;
//             left:0;
//             height: $h;
//             width:100%;
//         background-color: $font-color;
//         transition: 0.5s;
       

       
//         }
//     &::after{
//             content: ' ';
//             position:absolute;
//             top:22px;
//             left:0;
//             height: $h;
//             width:100%;
//         background-color: $font-color;
       
//         transition: 0.95s;

       
//         }
//     }


      
//     }
    

.menu{
position: fixed; 
height: 100%;
width: 100%;
background-color: rgb(27, 174, 194);
z-index: 1001;
padding: 10em;
display:none;

}




