@import url('https://fonts.googleapis.com/css?family=Lato|Oswald:200|Roboto:300,400,700');


$main-font-family:'Roboto','arial', sans-serif;
$main-font-weight:400;
$second-fw:300;
$myf-size:18px;
$line-h:1.5em;
$big-f:700;